* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(255, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* CLASSES */

.header {
    background-color: rgb(189, 1, 1);
    display: flex;
    padding: 10px;
    box-shadow: 0px 5px 5px rgb(147, 1, 1);
}

.header h1 {
    color: white;
}

img {
    filter: drop-shadow(5px 5px 5px rgb(147, 1, 1));
}

/* IDS */

#backToMenu {
    margin-left: 10px;
    margin-top: 10px;
}

/* UPGRADES */

.needBG {
    background-color: white;
}

.nzdUpgrades {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

#raro {
    height: 220px;
}

#peterjackson {
    height: 255px;
}

#chocolate {
    height: 220px;
}

#timezone {
    height: 240px;
}

#btcMiner {
    height: 222px;
}

.upgrade {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 200px;
    background-color: #cccccc;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    gap: 5px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(189, 1, 1);
    box-shadow: 0px 5px 5px rgb(147, 1, 1);
}

.upgrade p {
    margin: 2px 0;
    color: #fff;
}

#depricated {
    height: 235px;
}

nav {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(189, 1, 1);
    box-shadow: 0px -5px 5px rgb(147, 1, 1);
}

button {
    width: 50px;
    background-color: rgb(255, 1, 1);
    color: white;
    border-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(147, 1, 1);
}

button:disabled {
    cursor: not-allowed;
    background-color: #999;
}